.servicos-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.servicos-lista h2 {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.servicos-lista ul {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.servicos-lista li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--cor-12);
  border-radius: 4px;
  padding: 20px;
}

.servicos-lista img,
h3,
p {
  margin-bottom: 20px;
}

/* Responsividade */

@media only screen and (max-width: 1250px) {
  .servicos-lista ul {
    max-width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@media only screen and (max-width: 1100px) {
  .servicos-lista ul {
    overflow-x: auto;
  }
}

@media only screen and (max-width: 768px) {
  .servicos-lista ul {
    flex-wrap: wrap;
  }

  .servicos-lista li {
    width: 100%;
    margin-bottom: 40px;
  }

  .servicos-lista img {
    max-width: 100%;
  }

  .servicos-lista p {
    margin-bottom: 40px;
  }

  .servicos-lista .botao {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
