.servicos {
  padding-top: 60px;
  padding-bottom: 120px;
}

.servicos h2 {
  margin-bottom: 40px;
}

.servicos-lista {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.servicos-lista-item {
  justify-content: center;
  text-align: center;
  border-radius: 24px;
  background-color: #f077a9;
}

.servicos-lista-item h3 {
  margin-bottom: 10px;
}

.servicos-lista-item p {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.servicos-lista-item .botao {
  margin-bottom: 20px;
}
